<!-- templates/editar.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Editar Agendamento</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.cpf.label(class="form-label") }}
            {{ form.cpf(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.telefone.label(class="form-label") }}
            {{ form.telefone(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.data.label(class="form-label") }}
            {{ form.data(class="form-control", id="data") }}
        </div>
        <div class="mb-3">
            {{ form.horario.label(class="form-label") }}
            <select name="horario" id="horario" class="form-control">
                <option value="" disabled>Selecione um horário</option>
                {% for hora in horarios %}
                    <option value="{{ hora }}" {% if hora == agendamento_horario_str %} selected {% endif %}>{{ hora }}</option>
                {% endfor %}
            </select>
            {% if form.horario.errors %}
            <div class="invalid-feedback">
                {{ form.horario.errors[0] }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
<script>
document.getElementById('data').addEventListener('change', function() {
    var data = this.value;
    fetch('/get_horarios_disponiveis?data=' + data)
        .then(response => response.json())
        .then(horarios => {
            var horarioSelect = document.getElementById('horario');
            var currentSelection = '{{ agendamento_horario_str }}';
            horarioSelect.innerHTML = '<option value="" disabled>Selecione um horário</option>';
            horarios.forEach(function(horario) {
                var option = document.createElement('option');
                option.value = horario;
                option.textContent = horario;
                if (horario === currentSelection) {
                    option.selected = true;
                }
                horarioSelect.appendChild(option);
            });
        });
});
</script>
{% endblock %}
