{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1 class="my-4">Editar Agendamento</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.cpf.label(class="form-label") }}
            {{ form.cpf(class="form-control", id="cpf") }}
        </div>
        <div class="mb-3">
            {{ form.telefone.label(class="form-label") }}
            {{ form.telefone(class="form-control", id="telefone") }}
        </div>
        <div class="mb-3">
            {{ form.data.label(class="form-label") }}
            {{ form.data(class="form-control", id="data") }}
        </div>
        <div class="mb-3">
            {{ form.horario.label(class="form-label") }}
            <select name="horario" id="horario" class="form-control">
                <option value="" disabled>Selecione um horário</option>
                {% for hora in horarios %}
                    <option value="{{ hora }}" {% if hora == agendamento_horario_str %} selected {% endif %}>{{ hora }}</option>
                {% endfor %}
            </select>
            {% if form.horario.errors %}
            <div class="invalid-feedback">
                {{ form.horario.errors[0] }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
<script>
    // Função para preencher os horários disponíveis quando a data é alterada
    function fillAvailableTimes(data) {
        fetch('/get_horarios_disponiveis?data=' + data)
            .then(response => response.json())
            .then(horarios => {
                var horarioSelect = document.getElementById('horario');
                horarioSelect.innerHTML = ''; // Limpa o dropdown de horários

                // Verifica se o dia selecionado é sábado (5) ou domingo (6)
                if (new Date(data).getDay() === 5 || new Date(data).getDay() === 6) {
                    var option = document.createElement('option');
                    option.text = 'Não disponível';
                    option.disabled = true;
                    horarioSelect.appendChild(option);
                } else {
                    // Popula o dropdown com os horários disponíveis para os dias úteis
                    horarios.forEach(function(horario) {
                        var option = document.createElement('option');
                        option.value = horario;
                        option.textContent = horario;
                        horarioSelect.appendChild(option);
                    });

                    // Se o horário atual do agendamento estiver disponível para a data selecionada, selecione-o
                    var agendamentoHorario = "{{ agendamento_horario_str }}";
                    if (horarios.includes(agendamentoHorario)) {
                        var currentOption = document.createElement('option');
                        currentOption.value = agendamentoHorario;
                        currentOption.textContent = agendamentoHorario;
                        currentOption.selected = true;
                        horarioSelect.appendChild(currentOption);
                    }
                }
            });
    }

    // Adicione um ouvinte de evento de mudança à entrada de data
    document.getElementById('data').addEventListener('change', function() {
        var data = this.value;
        fillAvailableTimes(data); // Preencha os horários disponíveis quando a data é alterada
    });

    // Preencha os horários disponíveis quando a página é carregada
    document.addEventListener('DOMContentLoaded', function() {
        var data = document.getElementById('data').value;
        fillAvailableTimes(data);
    $(":input").inputmask();
    $("#cpf").inputmask({"mask": "999.999.999-99"});
            $(document).ready(function() {
                $("#telefone").inputmask({
                    mask: ["(99) 9999-9999", "(99) 99999-9999" ],
                    keepStatic: true
                });
    });
    });
</script>
{% endblock %}
