{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <style>
        .presence td {
            background-color: #76b344;;
        }
        .indisponivel td {
            color: rgb(255, 255, 255);
            background-color: rgb(255, 83, 83);
        }
    </style>
    <h1>Lista de Agendamentos</h1>
    <hr width="1" size="100">
    
    <div class="d-flex justify-content-between">
        <a href="{{ url_for('app.listar', year=year, week=week-1 if week > 1 else 52) }}" class="btn btn-primary">&laquo; Semana Anterior</a>
        <a href="{{ url_for('app.listar', year=year, week=week+1 if week < 52 else 1) }}" class="btn btn-primary">Próxima Semana &raquo;</a>
    </div>
    <hr width="1" size="100">
    {% for date, slots_info in slots.items() %}
    <div>
        <h2 class="text-center">{{ date.strftime('%d/%m/%Y') }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for slot in slots_info.times %}
                    {% if slot.agendamento %}
                        <tr class="{{ 'presence' if slot.agendamento.presence else 'indisponivel' if slot.agendamento.nome == 'Indisponível' else '' }}">
                            <td>{{ slot.time }}</td>
                            <td>{{ slot.agendamento.nome }}</td>
                            <td>{{ slot.agendamento.cpf or '' }}</td>
                            <td>{{ slot.agendamento.telefone or '' }}</td>
                            <td>
                                {% if slot.agendamento.nome != 'Indisponível' %}
                                <form action="{{ url_for('app.toggle_presence', id=slot.agendamento.id) }}" method="POST" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <button type="submit" class="btn btn-info btn-sm">{{ 'Retirar Presença' if slot.agendamento.presence else 'Confirmar Presença' }}</button>
                                </form>
                                    <a href="{{ url_for('app.editar', id=slot.agendamento.id) }}" class="btn btn-warning btn-sm">Editar</a>
                                {% endif %}
                                <form action="{{ url_for('app.deletar', id=slot.agendamento.id) }}" method="POST" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar este agendamento?');">Deletar</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ slot.time }}</td>
                            <td colspan="3">Disponível</td>
                            <td>
                                </form>
                                <form action="{{ url_for('app.ocupar', data=date.strftime('%Y-%m-%d'), horario=slot.time) }}" method="POST" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <button type="submit" class="btn btn-danger btn-sm">Ocupar</button>
                                </form>

                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obter a posição atual do scroll quando a página for carregada
        var scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, scrollPosition);
            // Limpar a posição do scroll após restaurá-la para que não afete futuras navegações
            localStorage.removeItem('scrollPosition');
        }
    
        // Função para salvar a posição do scroll quando a página for recarregada ou redirecionada
        function saveScrollPosition() {
            localStorage.setItem('scrollPosition', window.scrollY);
        }
    
        // Salvar a posição do scroll quando a página for descarregada (antes de redirecionar)
        window.addEventListener('beforeunload', saveScrollPosition);
    });
    </script>
{% endblock %}
